<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Xiii deu Ruim!!</h1>
        <h2>Nossos guinomos altamente capacitados estão mortos!! =(.</h2>
    </hgroup>
</body>
</html>
